<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Product Form</h1>
    <form action="/admin/products/edit/<%= product._id %>" method="POST">
        <p><input type="text" name="name" placeholder="Product Name" value="<%= product.name %>"></p>
        <p><input type="number" name="price" placeholder="Product Cost" value="<%= product.price %>"></p>
        <p><input type="text" name="desc" placeholder="Product Description" value="<%= product.desc %>"></p>
        <p><input type="text" name="imageUrl" placeholder="Image URL" value="<%= product.imageUrl %>"></p>
        <p><button>Submit</button></p>
    </form>
</body>
</html>