<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products Page</h1>
    <a href="/admin/products/add">Add new product</a>
    <% products.forEach(product=>{ %>
        <li><%= product.name %>-<%= product.price %>-<%= product.desc %> - <%= product.imageUrl %></li>
        <a href="/admin/products/edit/<%= product._id %>">Edit</a> - <a href="/admin/products/delete/<%= product._id %>">Delete</a>
        
        <% }) %>
</body>
</html>